<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="aggressiveLazyLoading" value="false"/>
	  	<setting name="multipleResultSetsEnabled" value="true"/>
	  	<setting name="useColumnLabel" value="true"/>
	  	<setting name="useGeneratedKeys" value="false"/>
	  	<setting name="autoMappingBehavior" value="FULL"/> <!-- NONE | PARTIAL | FULL -->
	  	<setting name="defaultExecutorType" value="REUSE"/> <!-- SIMPLE | REUSE | BATCH -->
	  	<setting name="defaultStatementTimeout" value="30"/>
	  	<setting name="safeRowBoundsEnabled" value="false"/>
	  	<setting name="mapUnderscoreToCamelCase" value="false"/>
	  	<setting name="localCacheScope" value="SESSION"/> <!-- SESSION | STATEMENT -->
	  	<setting name="jdbcTypeForNull" value="OTHER"/>
	  	<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
	  	<setting name="logImpl" value="SLF4J"/>
	  	<setting name="proxyFactory" value="JAVASSIST"/> <!-- CGLIB | JAVASSIST -->
	</settings>
	
</configuration>